<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the administration zone</p>
    <p style="color:green;"><strong><%= flash %></strong></p>
  </body>
</html>
