<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<p style="color:red;"><strong><%= message %></strong></p>
		<p style="color:red;"><strong><%= flash %></strong></p>
		<form action="/admin" method="post">
			<div>
				<label>Username:</label>
				<input type="text" name="username"/>
			</div>
			<div>
				<label>Password:</label>
				<input type="password" name="password"/>
			</div>
			<div>
				<input type="submit" value="Log In"/>
			</div>
		</form>
	</body>
</html>
